:root {
  --theme-color: #5667f1;
  --font-main-color: #27264d;
  --font-sub-color: #8c8da9;
  --font-third-color: #8c8da9;
  --font-main-size: 14px;
  --font-background-color: rgb(229, 231, 235);
  --divider-main-color: #e2e3e9;
  --divider-sub-color: rgba(60, 60, 60, 0.29);
  --divider-third-color: rgba(187, 187, 187, 0.2);
  --background-main-color: linear-gradient(
    180deg,
    #fafafc 0%,
    #f1f1f8 50%,
    #f0f1f8 100%
  );
  --background-sub-color: #ffffffb8;
  --background-third-color: rgba(86, 103, 241, 0.1);
  --background-forth-color: linear-gradient(
    180deg,
    rgba(86, 103, 241, 0.1) 0%,
    #fafafc 15%,
    #f1f1f8 95%,
    #f0f1f8 100%
  );

  --circle-color: linear-gradient(
    180deg,
    rgba(71, 15, 239, 0.4) 0%,
    rgba(49, 15, 239, 0.62) 68%,
    rgba(37, 15, 239, 0.04) 100%
  );

  --markdown-code-header-color: rgba(86, 103, 241, 0.08);
  --markdown-code-body-color: rgba(86, 103, 241, 0.04);
}

.dark {
  --theme-color: #5667f1;
  --font-main-color: oklch(1 0 0);
  --font-sub-color: oklch(100% 0 0 / 0.6);
  --font-third-color: #ffffff;
  --font-main-size: 14px;
  --font-background-color: rgba(229, 231, 235, 0.4);

  --divider-main-color: #e2e3e9;
  --divider-sub-color: rgba(60, 60, 60, 0.29);
  --divider-third-color: rgba(187, 187, 187, 0.2);
  --background-main-color: #0f1f24;
  --background-sub-color: #1d1d1fb8;
  --background-third-color: rgba(229, 231, 235, 0.1);
  --background-forth-color: linear-gradient(
    180deg,
    rgba(86, 103, 241, 0.1) 0%,
    #0f1f24 45%,
    #1d1d1fb8 100%
  );
  --circle-color: linear-gradient(
    180deg,
    rgba(195, 177, 255, 0.998) 0%,
    rgba(162, 145, 255, 0.806) 68%,
    rgba(116, 101, 255, 0.936) 100%
  );

  --markdown-code-header-color: rgba(191, 197, 244, 0.1);
  --markdown-code-body-color: rgba(191, 197, 244, 0.1);
}

body {
  font-size: var(--font-main-size);
  color: var(--font-main-color);
  background: var(--background-main-color);
  overflow-y: auto;
  overflow-x: hidden;
  .page {
    position: relative;
    height: 100vh;
    min-width: 1366px;
    min-height: 700px;
    box-sizing: border-box;
  }
}

// 全局滚动条样式调整
html::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  width: 6px;
  height: 6px;
  background-color: rgba(39, 38, 77, 0.1);
  border-radius: 4px;
}

code {
  color: #abb2bf;
}

// css动画
@keyframes enter-from-bottom {
  0% {
    opacity: 0;
    transform: translateY(120%);
  }

  20% {
    opacity: 1;
    transform: translateY(76%);
  }

  70% {
    opacity: 1;
    transform: translateY(-10%);
  }

  95% {
    opacity: 0.9;
    transform: translateY(5%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes puase-hidden {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

// .ant-message .ant-message-notice-wrapper .ant-message-notice-content {
//   box-shadow: 1px 10px 15px 0px rgba(228, 228, 231, 0.8);
// }
