.layout-navbar-wrap {
  position: relative;
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;

  &__active {
    transition: all 0.3s;
    border-bottom: 1px solid #bbb3;
    background-color: #ffffffb8;
    backdrop-filter: saturate(180%) blur(20px);
  }

  .layout-navbar {
    width: 1120px;
    height: 63px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .layout-navbar-avatar {
      width: 60px;
      display: flex;
      justify-content: center;

      .layout-navbar-avatar-icon {
        width: 40px;
        height: 40px;
        background-image: url("../../../static/img/avatar.jpg");
        background-size: 100% 100%;
        border-radius: 16px;
      }
    }

    .layout-navbar-nav {
      height: 35px;
      border: 1px solid #e2e3e9;
      display: flex;
      align-items: center;
      border-radius: 18px;
      padding: 0 16px;
      background-color: #ffffff;

      .layout-navbar-nav-item {
        cursor: pointer;
        font-size: 500;
        padding: 0 16px;
        display: flex;
        align-items: center;

        .layout-navbar-nav-item-text {
          margin-left: 4px;
          text-decoration: none;
          color: inherit;
        }

        &:hover {
          font-weight: 600;
          color: var(--theme-color);
        }
      }
    }

    .layout-navbar-user {
      width: 60px;
      display: flex;
      justify-content: center;

      .layout-navbar-user-avatar {
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        box-sizing: border-box;
        border: 1px solid #e5e7eb;
        border-radius: 50%;
      }
    }
  }
}
