.article-page {
  position: relative;
  min-height: calc(100vh - 86px);
  background: var(--background-forth-color);
  padding-top: 60px;
  .article-wrap {
    position: relative;
    width: 920px;
    margin: 120px auto;
  }
}

@media (max-width: 1000px) {
  .article-wrap {
    width: 80% !important;
    margin-top: 80px !important;
  }
}
